# add travi yml file and and and and and and and and ddff ccccx
language: java
dist: trusty
sudo: required

before_install:
- sudo apt-get install software-properties-common -y
- sudo apt-add-repository ppa:brightbox/ruby-ng -y
- sudo apt-get update
- sudo apt-get install build-essential ruby2.2 ruby2.2-dev zlib1g-dev liblzma-dev -y
- sudo gem install bundler
- sudo gem install deb-s3

script:
- ./gradlew clean packDeb
- deb-s3 upload --bucket test-delete-deb --access-key-id $ARTIFACTS_KEY --secret-access-key $ARTIFACTS_SECRET --arch amd64 --codename trusty --preserve-versions true build/distributions/*.deb
- echo "Successfully pushed hello-karyon-rxnetty_1-1_all.deb to s3"
addons:
  artifacts: true
    #s3_region: "us-east-2"

